# datetime

Python has the datetime module to help deal with timestamps in your code. Time values are represented with the time class. 

Times have attributes for hour, minute, second, and microsecond. 

They can also include time zone information. The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be what you want.

In [2]:
import datetime

t = datetime.time(4,20,1)

print t

04:20:01

In [3]:
print t.hour

4

In [4]:
print t.minute

20

In [5]:
print t.second

1

In [6]:
print t.microsecond

0

Note: A time instance only holds values of time, and not a date associated with the time.

We can also check the min and max values a time of day can have in the module:

In [8]:
print datetime.time.min

00:00:00

In [9]:
print datetime.time.max

23:59:59.999999

In [10]:
print datetime.time.resolution

0:00:00.000001

# Dates

datetime (as you might suspect) also allows us to work with date timestamps. Calendar date values are represented with the date class. 

Instances have attributes for year, month, and day. It is easy to create a date representing todayâ€™s date using the today() class method.

In [15]:
today = datetime.date.today()
print today

2017-03-16

In [16]:
today.day

16

In [17]:
today.isoweekday

In [18]:
today.month

3

In [19]:
today.year

2017

In [21]:
today.ctime()

'Thu Mar 16 00:00:00 2017'

In [26]:
today.toordinal()

736404

In [27]:
today.timetuple()

time.struct_time(tm_year=2017, tm_mon=3, tm_mday=16, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=75, tm_isdst=-1)

In [28]:
print datetime.date.min

0001-01-01

In [29]:
print datetime.date.max

9999-12-31

we can change attributes of an instance using replace method

In [31]:
d1 = datetime.date(2015,4,11)
print 'd1: ',d1

d2 = d1.replace(year=1990)
print 'd2: ',d2

d1:  2015-04-11
d2:  1990-04-11

In [32]:
d1

datetime.date(2015, 4, 11)

In [33]:
d2

datetime.date(1990, 4, 11)

In [34]:
d1-d2

datetime.timedelta(9131)

This give us the difference in days between the two dates. 
You can use the timedelta method to specify various units of times (day,minutes,hours,etc...)